
    .copy{
        text-align: center;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
}

.info {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.info h1 {
    margin-top: 0;
}

.form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}


.form h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid black;
    border-radius: 2px;
    background-color: whitesmoke;
    border-top: 0; border-left: 0; border-right: 0;
}

button {
    margin-top: 15px;
    padding: 9px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 4px;
    width: 30%;
    font-size: 20px;
}
button:hover {
    background-color: white;
    color: goldenrod;
}

 body{
    font-family: garamond;
    font-size: x-large;
    background-color: whitesmoke;
 }
/* Media query for smaller screens */
@media only screen and (max-width: 760px) {
    .info, .form {
        width: 100%;
    }
}
